<ul>
  <li>
    <% @restaurants.each do |restaurant| %>
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
    <% end %>
  </li>
</ul>

<%= link_to "Add New Restaurant", new_restaurant_path %>
